name: Run lint and static analyis checks
on:
  workflow_call:
    inputs:
      tardigradelint-target:
        description: Name of the Tardigrade-CI Makefile target to run
        default: lint
        required: false
        type: string

jobs:
  tardigradelint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Project Syntax Verification
        run: make docker/run target="${{ inputs.tardigradelint-target }}"

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Check workflow files
        uses: reviewdog/action-actionlint@534eb894142bcf31616e5436cbe4214641c58101
