name: Run lint and static analyis checks
on:
  workflow_call:
    inputs:
      actionlint-enable:
        description: Controls whether to run the actionlint job
        default: true
        required: false
        type: boolean
      tardigradelint-enable:
        description: Controls whether to run the tardigradelint job
        default: true
        required: false
        type: boolean
      tardigradelint-target:
        description: Name of the Tardigrade-CI Makefile target to run
        default: lint
        required: false
        type: string

jobs:
  tardigradelint:
    if: inputs.tardigradelint-enable
    runs-on: ubuntu-latest
    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Clone this git repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Project Syntax Verification
        run: make docker/run target="${{ inputs.tardigradelint-target }}"

  actionlint:
    if: inputs.actionlint-enable
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Check workflow files
        uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0
